ListView {
    height: 1fr;
}

.density-low ListItem    { height: 5; padding: 1 1;}
.density-medium ListItem { height: 3; padding: 1 1;}
.density-high ListItem   { height: 1; padding: 0; }

ListItem:focus-within {
    background: $accent;
    color: $text;
}

#article-md {
    align: center top;
    width: 70%;
}

#actions {
    height: 3;
    dock: bottom;
    padding: 0 1;
    margin-bottom: 3;
}

#actions Button {
    margin: 0 1;
}

#search-bar {
    dock: top;
    margin: 2 0;
}

#settings-list {
    margin: 1 0;
    height: 0.9fr;
}

#settings-list > .option-list--option {
    padding: 0 2;
}
